{% extends 'base.html' %}
{% block content %}
        <!-- Page content-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="container">
                        <div class="row">
                            <!-- Featured blog post-->
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">{{ board.registered_date|date:'Y.m.d. H:i' }}</div>
                                    <h2 class="card-title">{{ board.title }}</h2>
                                    <p class="card-text">{{ board.contents | safe }}</p>
                                    <p class="card-text">{{ board.hits }}</p>
                                </div>
                            </div>
                        </div>
                        {% if board_auth or request.user.level == '0' %}
                        <button type="button" class="btn btn-dark mt-3" onClick="location.href='/board/{{ board.id }}/edit/'">수정</button>
                        <button type="button" class="btn btn-dark mt-3" data-toggle="modal" data-target="#delete_modal">삭제</button>
                        {% endif %}
                    </div>
                </div>

<div class="card">
    <div class="card-header">
        <div class="col-md-12">
            {% csrf_token %}
            <div class="form-group row">
                <textarea class="form-control" id="reply_id" rows="3" placeholder="댓글을 입력해주세요."></textarea>
            </div>
            <div class="text-right" style="float:right">
                <button id="reply_write" class="btn btn-sm">댓글달기</button>
            </div>
        </div>
        <hr>
        <div id="more_comment">
            {% if replys %}
                {% for reply in replys %}
                <div id='{{ reply.id }}'>
                    {% if reply.deleted %}
                    <span>삭제된 댓글입니다.</span><hr>
                    {% else %}
                        {% if reply.writer == board.writer %}
                        <strong>{{ reply.writer }}&nbsp;<span>(글쓴이)</span></strong>
                        {% else  %}
                        <strong>{{ reply.writer }}</strong>
                        {% endif %}
                        <span style="float:right">{{ reply.created }}</span>
                        {% if reply.writer == request.user or request.user.level == '0' or request.user.level == '1' %}
                        <div>
                            <div style="white-space:pre-wrap; text-align:left;">{{ reply.contents }}</div>
                            <div style="text-align: right;">
                                <a onclick="commentDelete('{{reply.id}}');">댓글삭제</a>
                            </div>
                        </div>
                        <hr>
                        {% else %}
                        <div>
                            <div style="white-space:pre-wrap; text-align:left;">{{ reply.contents }}</div>
                        </div>
                        <hr>
                        {% endif %}
                    {% endif %}
                </div>
                <div class='{{ reply.id }}'></div>
                {% endfor %}
            {% endif %}
            <input type="hidden" id="reply_writer" value={{request.user}}>
            <div id="reply_list"></div>
        </div>
    </div>
</div>

            </div>
        </section>
        <div id="delete_modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">삭제경고</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>게시글을 삭제하시겠습니까?</p>
                    </div>
                    <div class="modal-footer">
                        <button onclick="delete_modal()" type="button" class="btn btn-dark">삭제하기</button>
                        <button type="button" class="btn btn-light" data-dismiss="modal">취소하기</button>
                    </div>
                </div>
            </div>
        </div>

<script type="text/javascript">
    function delete_modal() {
        location.replace('/board/{{ board.id }}/delete/');
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#reply_write').click(function () {
            console.log('버튼눌림');
            var contents= $("#content_id").val();
            var writer= $("#reply_writer").val();
            $.ajax({
                type: "POST",
                url: "{% url 'board:reply_write' board.id %}",
                dataType: "json",
                data: {
                    'writer': writer,
                    'contents': contents,
                    'csrfmiddlewaretoken': '{{csrf_token}}',
                },
                success: function (response) {
                    console.log("성공");
                    if (response.self_reply) {
                        $('#reply_list').append(
                           '<div><div id='+response.reply_id+'><strong>'+response.writer+'&nbsp;<span>'+response.self_reply+'</span></strong>'+
                           '<span style="float:right;">'+response.created+'</span>'+
                           '<div><div style="white-space:pre-wrap; text-align:left;">'+response.contents+
                           '</div><div style="text-align:right;"><a onclick="commentDelete('+response.reply_id+');">댓글삭제</a></div></div><hr></div><div class='+response.reply_id+'></div>'
                        );
                    }
                    else{
                        $('#reply_list').append(
                            '<div><div id='+response.reply_id+'><strong>'+response.writer+'</strong>'+
                            '<span style="float:right;">'+response.created+'</span>'+
                            '<div><div style="white-space:pre-wrap; text-align:left;">'+response.contents+
                            '</div><div style="text-align:right;"><a onclick="commentDelete('+response.reply_id+');">댓글삭제</a></div></div><hr></div><div class='+response.reply_id+'></div>'
                        );
                    }
                    $('#content_id').val("");
                },
                error: function (request,status,error) {
                    console.log("실패");
                    if ($('#content_id').val()=="") {
                        alert('댓글을 입력해주세요.');
                    }
                },
            })
        });
    });

    function commentDelete(value) {
        var reply_id = value;
        var delete_warning = confirm('댓글을 삭제하시겠습니까?');
        if (delete_warning == true) {
            $.ajax({
                type: "POST",
                url: "{% url 'board:reply_delete' board.id %}",
                dataType: "json",
                data: {
                    'reply_id': reply_id,
                    'csrfmiddlewaretoken': '{{csrf_token}}',
                },
                success: function (response) {
                    $('#'+response.reply_id).replaceWith('<span style="color:gray;">삭제된 댓글입니다.</span><hr>');
                },
                error: function () {
                    alert('본인 댓글이 아닙니다.');
                },
            });
        }
    }
</script>

{% endblock %}